In [1]:
import numpy as np
import pandas as pd

In [2]:
newdf=pd.DataFrame(np.random.rand(20,5))

In [3]:
newdf

           0         1         2         3         4
0   0.919235  0.745462  0.754251  0.075124  0.243421
1   0.724970  0.630000  0.282745  0.121414  0.424409
2   0.365466  0.430539  0.287080  0.633593  0.763639
3   0.657542  0.671606  0.948612  0.348302  0.492461
4   0.779162  0.410055  0.834509  0.783495  0.154916
5   0.377277  0.369577  0.744070  0.430066  0.589079
6   0.106450  0.907834  0.127519  0.959636  0.011536
7   0.935277  0.489860  0.316600  0.789110  0.287544
8   0.097610  0.285677  0.314204  0.869564  0.128431
9   0.557422  0.268868  0.472576  0.582497  0.391360
10  0.490974  0.336634  0.075841  0.462156  0.251067
11  0.762100  0.356230  0.066665  0.326264  0.575555
12  0.329663  0.562425  0.542406  0.353009  0.371360
13  0.721801  0.475192  0.733635  0.914049  0.157931
14  0.272261  0.499811  0.862273  0.216294  0.730800
15  0.595032  0.580283  0.956110  0.014267  0.375489
16  0.695205  0.519449  0.757609  0.301869  0.834540
17  0.268456  0.419435  0.640985  0.968832  0.151447
18  0.429356  0.520221  0.104322  0.335625  0.164309
19  0.438227  0.162309  0.681573  0.345497  0.064634

In [4]:
newdf2=newdf

In [5]:
newdf2[0][0]=0.2244

C:\Users\hp\AppData\Local\Temp\ipykernel_9096\3932900691.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf2[0][0]=0.2244

In [6]:
newdf

           0         1         2         3         4
0   0.224400  0.745462  0.754251  0.075124  0.243421
1   0.724970  0.630000  0.282745  0.121414  0.424409
2   0.365466  0.430539  0.287080  0.633593  0.763639
3   0.657542  0.671606  0.948612  0.348302  0.492461
4   0.779162  0.410055  0.834509  0.783495  0.154916
5   0.377277  0.369577  0.744070  0.430066  0.589079
6   0.106450  0.907834  0.127519  0.959636  0.011536
7   0.935277  0.489860  0.316600  0.789110  0.287544
8   0.097610  0.285677  0.314204  0.869564  0.128431
9   0.557422  0.268868  0.472576  0.582497  0.391360
10  0.490974  0.336634  0.075841  0.462156  0.251067
11  0.762100  0.356230  0.066665  0.326264  0.575555
12  0.329663  0.562425  0.542406  0.353009  0.371360
13  0.721801  0.475192  0.733635  0.914049  0.157931
14  0.272261  0.499811  0.862273  0.216294  0.730800
15  0.595032  0.580283  0.956110  0.014267  0.375489
16  0.695205  0.519449  0.757609  0.301869  0.834540
17  0.268456  0.419435  0.640985  0.968832  0.151447
18  0.429356  0.520221  0.104322  0.335625  0.164309
19  0.438227  0.162309  0.681573  0.345497  0.064634

In [7]:
newdf3=newdf.copy()

In [8]:
newdf3[0][0]

0.2244

In [9]:
newdf3[0][0]=0.3366

C:\Users\hp\AppData\Local\Temp\ipykernel_9096\2219193102.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf3[0][0]=0.3366

In [10]:
newdf

           0         1         2         3         4
0   0.224400  0.745462  0.754251  0.075124  0.243421
1   0.724970  0.630000  0.282745  0.121414  0.424409
2   0.365466  0.430539  0.287080  0.633593  0.763639
3   0.657542  0.671606  0.948612  0.348302  0.492461
4   0.779162  0.410055  0.834509  0.783495  0.154916
5   0.377277  0.369577  0.744070  0.430066  0.589079
6   0.106450  0.907834  0.127519  0.959636  0.011536
7   0.935277  0.489860  0.316600  0.789110  0.287544
8   0.097610  0.285677  0.314204  0.869564  0.128431
9   0.557422  0.268868  0.472576  0.582497  0.391360
10  0.490974  0.336634  0.075841  0.462156  0.251067
11  0.762100  0.356230  0.066665  0.326264  0.575555
12  0.329663  0.562425  0.542406  0.353009  0.371360
13  0.721801  0.475192  0.733635  0.914049  0.157931
14  0.272261  0.499811  0.862273  0.216294  0.730800
15  0.595032  0.580283  0.956110  0.014267  0.375489
16  0.695205  0.519449  0.757609  0.301869  0.834540
17  0.268456  0.419435  0.640985  0.968832  0.151447
18  0.429356  0.520221  0.104322  0.335625  0.164309
19  0.438227  0.162309  0.681573  0.345497  0.064634