In [2]:
import numpy as np
import pandas as pd

In [3]:
newdf=pd.DataFrame(np.random.rand(20,5))

In [4]:
newdf

           0         1         2         3         4
0   0.626542  0.772634  0.887613  0.969603  0.059829
1   0.197303  0.198260  0.081910  0.416606  0.300484
2   0.348759  0.058247  0.532131  0.486877  0.456700
3   0.511834  0.958312  0.365651  0.173032  0.549007
4   0.245640  0.310078  0.029514  0.814916  0.392272
5   0.514671  0.793144  0.876910  0.785591  0.559125
6   0.368023  0.344953  0.431334  0.051965  0.762499
7   0.988887  0.688196  0.111107  0.095424  0.888795
8   0.406692  0.471003  0.668560  0.074055  0.129633
9   0.525293  0.807878  0.861521  0.137575  0.268965
10  0.082920  0.193342  0.348273  0.215398  0.571143
11  0.887346  0.666061  0.184910  0.634121  0.912590
12  0.982895  0.778098  0.712888  0.767316  0.812619
13  0.023382  0.805328  0.882840  0.080419  0.057690
14  0.574234  0.817150  0.394745  0.317657  0.374415
15  0.281961  0.805161  0.375274  0.055705  0.919992
16  0.694310  0.164052  0.963177  0.802552  0.848670
17  0.507297  0.510340  0.653996  0.786811  0.759743
18  0.911435  0.048956  0.908627  0.880091  0.252415
19  0.303672  0.175675  0.110436  0.326720  0.137579

In [5]:
type(newdf)

pandas.core.frame.DataFrame

In [6]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object