In [1]:
import numpy as np
import pandas as pd

In [2]:
newdf=pd.DataFrame(np.random.rand(20,5))

In [3]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [4]:
newdf[0][0]="harry"

C:\Users\hp\AppData\Local\Temp\ipykernel_14692\2518634006.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[0][0]="harry"
C:\Users\hp\AppData\Local\Temp\ipykernel_14692\2518634006.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'harry' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[0][0]="harry"

In [5]:
newdf

           0         1         2         3         4
0      harry  0.405517  0.655617  0.014415  0.308442
1   0.022624  0.725653  0.221843  0.963624  0.857131
2   0.321319  0.150225  0.937700  0.218775  0.103146
3   0.496425  0.925215  0.743064  0.204764  0.406507
4   0.953902  0.817910  0.338665  0.823295  0.092093
5   0.095139  0.786387  0.056951  0.661323  0.892807
6   0.350268  0.367742  0.074726  0.620421  0.176888
7   0.961288  0.569083  0.319108  0.056686  0.891577
8   0.209107  0.833383  0.985267  0.568482  0.945747
9   0.177121  0.973713  0.880515  0.094059  0.080093
10  0.876879  0.444685  0.048680  0.765052  0.665154
11  0.688589  0.535143  0.274982  0.706926  0.025716
12  0.244478  0.123986  0.621035  0.397787  0.817319
13   0.82288  0.615073  0.928420  0.703150  0.003641
14    0.3949  0.277858  0.213600  0.977604  0.512868
15  0.601291  0.121053  0.323397  0.800886  0.276988
16   0.39273  0.397987  0.273408  0.412197  0.970344
17  0.845338  0.439853  0.714714  0.171902  0.809231
18  0.627973  0.923423  0.824027  0.379858  0.022210
19  0.860241  0.295081  0.683124  0.069741  0.123594

In [6]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [7]:
newdf.index

RangeIndex(start=0, stop=20, step=1)

In [9]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)