In [1]:
import numpy as np
import pandas as pd

In [2]:
newdf=pd.DataFrame(np.random.rand(20,5))

In [3]:
newdf

           0         1         2         3         4
0   0.073595  0.872471  0.517044  0.983604  0.347116
1   0.518305  0.367306  0.258541  0.466548  0.680835
2   0.314343  0.844645  0.679043  0.904954  0.933136
3   0.423482  0.480357  0.673422  0.773535  0.866320
4   0.325716  0.486835  0.935554  0.619094  0.782649
5   0.786119  0.666457  0.257174  0.490629  0.867062
6   0.579638  0.024328  0.175546  0.810431  0.193099
7   0.491636  0.141179  0.846840  0.024622  0.464786
8   0.535807  0.815154  0.544878  0.118888  0.839299
9   0.001925  0.414615  0.217793  0.735142  0.307765
10  0.059722  0.127283  0.469795  0.677741  0.739345
11  0.088301  0.876433  0.550768  0.613369  0.635069
12  0.546790  0.080277  0.528213  0.844728  0.423025
13  0.860341  0.273292  0.293495  0.728389  0.076826
14  0.885275  0.143431  0.977135  0.496293  0.878776
15  0.633052  0.467371  0.952291  0.362690  0.775473
16  0.801183  0.648431  0.392068  0.488173  0.818919
17  0.225837  0.044604  0.216257  0.355927  0.891452
18  0.106635  0.815891  0.740478  0.787222  0.256663
19  0.332176  0.071365  0.360841  0.573024  0.127741

In [4]:
newdf.columns=list("ABCDE")

In [5]:
newdf

           A         B         C         D         E
0   0.073595  0.872471  0.517044  0.983604  0.347116
1   0.518305  0.367306  0.258541  0.466548  0.680835
2   0.314343  0.844645  0.679043  0.904954  0.933136
3   0.423482  0.480357  0.673422  0.773535  0.866320
4   0.325716  0.486835  0.935554  0.619094  0.782649
5   0.786119  0.666457  0.257174  0.490629  0.867062
6   0.579638  0.024328  0.175546  0.810431  0.193099
7   0.491636  0.141179  0.846840  0.024622  0.464786
8   0.535807  0.815154  0.544878  0.118888  0.839299
9   0.001925  0.414615  0.217793  0.735142  0.307765
10  0.059722  0.127283  0.469795  0.677741  0.739345
11  0.088301  0.876433  0.550768  0.613369  0.635069
12  0.546790  0.080277  0.528213  0.844728  0.423025
13  0.860341  0.273292  0.293495  0.728389  0.076826
14  0.885275  0.143431  0.977135  0.496293  0.878776
15  0.633052  0.467371  0.952291  0.362690  0.775473
16  0.801183  0.648431  0.392068  0.488173  0.818919
17  0.225837  0.044604  0.216257  0.355927  0.891452
18  0.106635  0.815891  0.740478  0.787222  0.256663
19  0.332176  0.071365  0.360841  0.573024  0.127741

In [7]:
newdf.drop("E",axis=1)

           A         B         C         D
0   0.073595  0.872471  0.517044  0.983604
1   0.518305  0.367306  0.258541  0.466548
2   0.314343  0.844645  0.679043  0.904954
3   0.423482  0.480357  0.673422  0.773535
4   0.325716  0.486835  0.935554  0.619094
5   0.786119  0.666457  0.257174  0.490629
6   0.579638  0.024328  0.175546  0.810431
7   0.491636  0.141179  0.846840  0.024622
8   0.535807  0.815154  0.544878  0.118888
9   0.001925  0.414615  0.217793  0.735142
10  0.059722  0.127283  0.469795  0.677741
11  0.088301  0.876433  0.550768  0.613369
12  0.546790  0.080277  0.528213  0.844728
13  0.860341  0.273292  0.293495  0.728389
14  0.885275  0.143431  0.977135  0.496293
15  0.633052  0.467371  0.952291  0.362690
16  0.801183  0.648431  0.392068  0.488173
17  0.225837  0.044604  0.216257  0.355927
18  0.106635  0.815891  0.740478  0.787222
19  0.332176  0.071365  0.360841  0.573024

In [8]:
newdf.loc[[1,2],["C","D"]]

          C         D
1  0.258541  0.466548
2  0.679043  0.904954

In [14]:
newdf.loc[:,:]

           A         B         C         D         E
0   0.073595  0.872471  0.517044  0.983604  0.347116
1   0.518305  0.367306  0.258541  0.466548  0.680835
2   0.314343  0.844645  0.679043  0.904954  0.933136
3   0.423482  0.480357  0.673422  0.773535  0.866320
4   0.325716  0.486835  0.935554  0.619094  0.782649
5   0.786119  0.666457  0.257174  0.490629  0.867062
6   0.579638  0.024328  0.175546  0.810431  0.193099
7   0.491636  0.141179  0.846840  0.024622  0.464786
8   0.535807  0.815154  0.544878  0.118888  0.839299
9   0.001925  0.414615  0.217793  0.735142  0.307765
10  0.059722  0.127283  0.469795  0.677741  0.739345
11  0.088301  0.876433  0.550768  0.613369  0.635069
12  0.546790  0.080277  0.528213  0.844728  0.423025
13  0.860341  0.273292  0.293495  0.728389  0.076826
14  0.885275  0.143431  0.977135  0.496293  0.878776
15  0.633052  0.467371  0.952291  0.362690  0.775473
16  0.801183  0.648431  0.392068  0.488173  0.818919
17  0.225837  0.044604  0.216257  0.355927  0.891452
18  0.106635  0.815891  0.740478  0.787222  0.256663
19  0.332176  0.071365  0.360841  0.573024  0.127741

In [17]:
newdf.loc[:,["C","D"]]

           C         D
0   0.517044  0.983604
1   0.258541  0.466548
2   0.679043  0.904954
3   0.673422  0.773535
4   0.935554  0.619094
5   0.257174  0.490629
6   0.175546  0.810431
7   0.846840  0.024622
8   0.544878  0.118888
9   0.217793  0.735142
10  0.469795  0.677741
11  0.550768  0.613369
12  0.528213  0.844728
13  0.293495  0.728389
14  0.977135  0.496293
15  0.952291  0.362690
16  0.392068  0.488173
17  0.216257  0.355927
18  0.740478  0.787222
19  0.360841  0.573024